#additional-head {
  @apply max-h-0 fixed overflow-hidden left-0 right-0 top-0 bg-white z-30;
  transition: all ease-in 0.35s;
}
.active-fixed #additional-head {
  @apply max-h-[100px] z-50 py-1 md:pt-2 md:pb-3 shadow-lg;
}
#additional-head .ad-program {
  @apply block text-blue text-[20px] md:text-2xl font-bold mb-1;
}
#additional-head .ad-program-description {
  @apply block text-base md:text-[18px] font-semibold whitespace-nowrap;
}
#additional-head .program-nav {
  @apply mb-0 p-0 md:pr-5;
  position: relative;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#additional-head .program-nav::-webkit-scrollbar {
  display: none;
}
#additional-head .program-nav ul {
  white-space: nowrap;
}
