.main-menu {
  @apply flex gap-6;
}
.main-menu > li {
  @apply flex items-center;
}
.search-form input {
  @apply h-12 w-[120px];
}
.search-form #search {
  @apply p-6;
  background: url("/icons/icon-search.svg") no-repeat 0 50%;
}
/* social-menu */
.social-menu {
  @apply flex gap-3;
}
.social-menu a {
  @apply w-12 h-12 bg-blue rounded-full block -indent-[999px] overflow-hidden flex items-center justify-center;
}
.social-menu a::after {
  content: "";
  display: block;
}
.social-menu .facebook a:after {
  width: 12px;
  height: 24px;
  background: url("/social-menu/facebook.png") no-repeat;
  @apply bg-cover;
}
.social-menu .twitter a:after {
  width: 24px;
  height: 20px;
  background: url("/social-menu/twitter.png") no-repeat;
  @apply bg-cover;
}
.social-menu .insta a:after {
  width: 24px;
  height: 24px;
  background: url("/social-menu/insta.png") no-repeat;
  @apply bg-cover;
}
.social-menu .linkedin a:after {
  width: 22.5px;
  height: 21.54px;
  background: url("/social-menu/linkedin.png") no-repeat;
  @apply bg-cover;
}
.social-menu .youtude a:after {
  width: 29.33px;
  height: 20.53px;
  background: url("/social-menu/youtube.png") no-repeat;
  @apply bg-cover;
}
/* app-menu */
.app-menu {
  @apply flex gap-4;
}
.app-menu a {
  @apply w-[136px] h-[40px] block -indent-[999px] overflow-hidden;
}
.app-menu .google-play a {
  background: url("/app-menu/google-play.png") no-repeat;
  @apply bg-cover;
}
.app-menu .app-store a {
  background: url("/app-menu/app-store.png") no-repeat;
  @apply bg-cover;
}
