.owl-theme .owl-controls {
  margin: 0;
}
.owl-nav {
  position: absolute;
  top: 50%;
  left: -28px;
  right: -28px;
  @apply h-[54px] -translate-y-1/2;
}
.owl-nav .owl-prev,
.owl-nav .owl-next {
  position: absolute;
  padding: 0;
  margin: 0 !important;
  font-size: 0 !important;
  line-height: 0 !important;
  overflow: hidden;
  width: 56px;
  height: 56px;
  background: #ffffff !important;
  border-radius: 28px;
  border: 1px solid #b4bace !important;
  opacity: 0.5;
}
.owl-nav .owl-prev:before,
.owl-nav .owl-next:before {
  content: "";
  position: absolute;
  width: 22px;
  height: 16px;
  left: 50%;
  top: 50%;
  margin-left: -11px;
  margin-top: -8px;
}
.owl-nav .owl-prev {
  left: 0;
}
.owl-nav .owl-prev:before {
  background: url("/icons/arrow-left.svg") no-repeat;
}
.owl-nav .owl-next {
  right: 0;
}
.owl-nav .owl-next:before {
  background: url("/icons/arrow-left.svg") no-repeat;
  transform: rotate(180deg);
}
.program-slider-nav {
  @apply flex gap-4;
}
.program-slider-nav li img {
  border: 1px solid #b4bace;
  border-radius: 8px;
  @apply w-[88px] h-[88px];
}
.program-slider-nav li.active img {
  border: 2px solid #62697c;
}
.owl-dots {
  @apply flex justify-center gap-4 pt-8;
}
.owl-dots .owl-dot {
  @apply w-3 h-3 rounded-full !bg-blue opacity-20;
}
.owl-dots .owl-dot.active {
  @apply opacity-100;
}
.owl-carousel .owl-stage {
  @apply !flex;
}
#courses-slider .owl-item,
#tutors-slider .owl-item {
  @apply flex;
}
