@import url("header.css");
@import url("buttons.css");
@import url("menu.css");
@import url("hero.css");
@import url("typography.css");
@import url("footer.css");
@import url("reviews.css");
@import url("exams.css");
@import url("faq.css");
@import url("owl-slider.css");
@import url("add-head.css");

html {
  /* scroll-behavior: smooth; */
}
main {
  @apply relative z-0;
}
/* typography */
.page-container,
.is-layout-constrained,
.mx-container {
  @apply container mx-auto px-3 xl:px-0;
}
#app {
  @apply text-lg text-current font-articulat overflow-hidden;
}
/* guarantee-box */
.guarantee-box h4,
.guarantee-box h6 {
  @apply mb-0;
}
/* bonus-row */
.bonus-row .bonus-box {
  @apply flex flex-row lg:flex-col xl:flex-row items-center justify-center border border-solid border-[#C5CADB] gap-4 bg-black bg-opacity-20 rounded-lg p-5 lg:py-7 lg:px-8 text-left lg:text-center xl:text-left;
}
.bonus-row .bonus-box .bonus-box__value {
  @apply whitespace-nowrap text-[48px] leading-snug;
}
.bonus-row .bonus-box .bonus-box__label {
  @apply uppercase font-semibold leading-6;
}
/* cta */
.cta-section {
  @apply text-center bg-primary text-white rounded-lg py-10 md:py-[68px] px-4;
}
.cta-section h2 {
  @apply text-[28px] md:text-4xl mb-4;
}
/* form-subscribe */
.form-subscribe {
  @apply md:w-[586px] flex mx-auto;
}
.form-subscribe input[type="text"],
.form-subscribe input[type="email"] {
  @apply bg-white h-[50px] text-base py-3 md:py-4 px-3 md:px-6 rounded-l-lg grow placeholder:text-[#62697C] text-black;
}
.form-subscribe input[type="submit"] {
  @apply md:uppercase bg-blue text-white font-bold border-0 h-[50px] rounded-r-lg w-[165px] md:w-[226px] grow-0 text-base;
}
@media screen and (max-width: 400px) {
  .form-subscribe {
    @apply flex-col;
  }
  .form-subscribe input[type="text"],
  .form-subscribe input[type="email"] {
    @apply rounded-t-lg rounded-b-none text-center;
  }
  .form-subscribe input[type="submit"] {
    @apply rounded-b-lg rounded-t-none w-full;
  }
}
/* reviews-section */
.reviews-section {
  @apply py-10 md:py-[93px];
}

/* section-head */
.section-head {
  @apply text-center text-[#62697C] mb-6 md:mb-12 mx-auto max-w-[960px];
}
.section-head h1,
.section-head h2 {
  @apply text-blue mb-3 last:mb-0;
}
.courses-section .section-head {
  @apply mb-8;
}
.structure-section .section-head {
  @apply mb-12;
}
.section-head.section-head_inner {
  @apply lg:mb-[56px] bg-[#DDE8F6] border border-[#B4BACE] rounded-lg p-6 lg:p-6 lg:pt-8 lg:pb-7 w-full max-w-full;
}
.section-head.section-head_inner h2,
.section-head.section-head_inner h1 {
  @apply mb-[4px] max-lg:text-[20px];
}
.sessions-section .section-head {
  @apply max-w-full md:text-2xl;
}
.sessions-section .section-head h2,
.sessions-section .section-head h1 {
  @apply mb-6;
}
.exam-section .section-head {
  @apply mb-[30px];
}
/* about-content */
.about-content {
  @apply lg:pt-[2px];
}
.about-content h3 {
  @apply text-blue max-w-xs mx-auto mb-3;
}
.about-content p {
  @apply mb-6;
}
.about-content__summary {
  @apply uppercase font-semibold;
}
.about-content__summary a {
  @apply underline hover:no-underline;
}
/* quote-block */
.quote-block {
  @apply pl-6 pt-7 md:pt-0 md:px-[100px] text-center relative mx-auto max-w-[1234px] font-medium text-xl lg:text-2xl leading-[34px];
}
.quote-block:before,
.quote-block:after {
  @apply content-[''] absolute top-0 h-[64px] w-[90px];
}
.quote-block:before {
  background: url("/assets/images/quotes/quote-open.svg");
  @apply left-0;
}
.quote-block.quote-block_white:before {
  background: url("/assets/images/quotes/quote-open-white.svg");
}
.quote-block:after {
  background: url("/assets/images/quotes/quote-close.svg");
  @apply right-0 top-[3px] max-md:hidden;
}
.quote-block.quote-block_white:after {
  background: url("/assets/images/quotes/quote-close-white.svg");
}
.quote-block q {
  @apply block pt-[6px] font-medium relative z-10;
  quotes: none;
}
.quote-block cite {
  @apply pt-6 uppercase not-italic text-sm block;
}
/* award-block */
.award-block {
  @apply flex items-center gap-4 px-1 xl:px-0;
}
.award-block .award-block__rate {
  @apply font-bold;
}
.award-block .award-block__stars {
  @apply w-[97px];
}
.awards-slider {
  @apply flex gap-16 max-w-[320px] md:max-w-full mx-auto lg:max-w-full;
}
/* structure-box */
.structure-box {
  @apply rounded-lg px-6 py-8 lg:p-8 border border-[#B4BACE] relative;
}
.structure-box .structure-box_label {
  @apply bg-yellow py-1 px-2 leading-4 absolute rounded font-semibold text-[12px] right-4 -top-3;
}
.structure-box .structure-box__head {
  @apply mb-[6px] flex gap-4 lg:min-h-[58px];
}
.structure-box .structure-box__head h5 {
  @apply pt-0 lg:pt-0;
}
.structure-box .structure-box__head .course-icon {
  @apply bg-primary text-white text-base font-bold h-6 w-6 text-center inline-block rounded-full flex-shrink-0 flex-grow-0 pt-[2px];
}
.structure-box .structure-box__head .structure-box__icon {
  @apply lg:mt-1 lg:pr-2;
}
.structure-box .structure-box__head .structure-box__icon img {
  @apply w-9 max-w-[30px];
}
.structure-box h5 {
  @apply text-blue;
}
/* comparison-table */
.comparison-table {
  @apply py-4 text-[15px] md:text-base lg:text-lg;
}
.comparison-table .comparison__row .cell.cell-1,
.comparison-table .comparison__row .cell.cell-2 {
  @apply xl:w-[220px] xl:grow-0 xl:shrink-0;
}
.comparison-table .comparison__row .cell.cell-1 {
  @apply px-2;
}
.comparison-table .comparison__head {
  @apply flex bg-[#62697C] text-white font-bold rounded-t-lg leading-normal lg:leading-[28px];
}
.comparison-table .comparison__head .cell {
  @apply font-bold flex justify-center items-center relative;
}
.comparison-table .comparison__head .cell:nth-child(2) {
  @apply bg-[#0E3B74];
}
.comparison-table .comparison__head.comparison__row:first-child .cell:nth-child(2)::before {
  @apply content-[''] absolute left-0 right-0 h-4 bg-inherit -top-4 rounded-t-lg;
}
/* comparison-table */
.comparison-table .comparison__row {
  @apply grid grid-cols-7 xl:flex font-medium lg:h-[60px];
}
.comparison-table .comparison__row .cell {
  @apply py-1 px-1 flex items-center flex-grow justify-center text-center;
}
.comparison-table .comparison__body {
  @apply leading-[20px];
}
.comparison-table .comparison__body .comparison__row .cell:nth-child(2) {
  @apply bg-[#1D4F8D] relative;
}
.comparison-table .comparison__body .comparison__row:nth-child(2n) {
  @apply bg-[#DDE8F7];
}
.comparison-table .comparison__body .comparison__row:nth-child(2n) .cell:nth-child(2) {
  @apply bg-[#0E3B74];
}
.comparison-table .comparison__body .comparison__row:last-child .cell:nth-child(2) {
  @apply relative;
}
.comparison-table .comparison__body .comparison__row:last-child .cell:nth-child(2)::after {
  @apply content-[''] absolute left-0 right-0 h-4 bg-inherit -bottom-4 rounded-b-lg;
}
.comparison-table .option-icon {
  vertical-align: top;
  @apply w-7 h-7 overflow-hidden inline-block;
}
.comparison-table .included-option {
  background: url("/assets/images/included-option.svg") no-repeat;
}
.comparison-table .disabled-option {
  background: url("/assets/images/disabled-option.svg") no-repeat;
}
/* sessions-section */
.sessions-section {
  @apply bg-[#DDE8F6] py-20;
}
/* program-details-list */
.program-details-list li {
  @apply relative pl-9 mb-4 last:mb-0;
}
.program-details-list li:before {
  @apply content-[''] left-0 top-0 absolute w-7 h-7;
  background: url("/assets/images/icons/marker-list.png") no-repeat;
}
.program-content h2 {
  @apply text-blue mb-1;
}
/* program-nav */
.program-nav {
  @apply pb-5 mb-3 md:mb-9 text-base font-medium max-md:w-full max-md:overflow-auto;
}
.program-nav ul {
  @apply flex justify-between gap-1;
}
.program-nav a {
  @apply text-current pb-[1px] px-1 inline-block border-transparent border-b whitespace-nowrap;
}
.program-nav li.active a,
.program-nav a:hover {
  @apply border-current;
}
.tutor-box {
  @apply rounded-lg p-8 bg-white border border-[#B4BACE];
}
.tutor-box .tutor-box__bottom {
  @apply pt-5 flex flex-col lg:flex-row items-center justify-between gap-4 lg:gap-2;
}
.tutor-box .tutor-box__bottom .btn {
  @apply max-md:w-full;
}
.tutor-box .link-details {
  @apply underline text-base hover:no-underline;
}
.tutor-box h5 {
  @apply mb-4;
}
.tutor-box figure {
  @apply w-[160px] h-[200px] mb-8;
}
.tutor-box figure img {
  @apply rounded-lg;
}
.tutor-box p {
  @apply mb-1;
}
.tutor-box .tutor-box__details p {
  @apply leading-[27px];
}
.tutor-box .tutor-box__details strong {
  @apply font-semibold;
}
.stars-success {
  @apply flex gap-2;
}
.stars-success i {
  background: url("/assets/images/icons/icon-star.svg") no-repeat;
  @apply inline-block w-[19px] h-[19px] bg-cover;
}
.program-details li {
  @apply relative mb-2 pl-6 before:content-[''] before:absolute before:left-0 before:top-[2px] before:w-4 before:h-4;
}
.program-details li.recommended-item:before {
  background: url("/assets/images/icons/icon-up.svg") no-repeat;
}
.program-details li.group-item:before {
  background: url("/assets/images/icons/icon-group.svg") no-repeat;
  top: 4px;
}
/* packages-group */
.package-tabs .package-tab {
  @apply hidden;
}
.package-tabs .package-tab .program-subtitle {
  @apply mb-10;
}
.package-tabs .package-tab.active {
  @apply block;
}
.packages-group {
  @apply mb-11;
}
.packages-group h6 {
  @apply mb-2 text-base font-normal uppercase tracking-[0.02em];
}
.package-box {
  @apply text-sm border border-[#B4BACE] rounded-lg p-[3px] text-center relative;
}
.package-box.active {
  @apply !border-[#62697C] !border-2;
}
.package-box .package-box__head {
  @apply bg-blue text-white rounded-t-lg px-1 pt-[2px] pb-[2px] tracking-wider text-[13px] md:text-sm flex justify-center gap-1;
}
.packages-group.packages-group_top .package-box .package-box__head {
  @apply max-md:flex-col max-md:gap-0 max-md:leading-[14px] max-md:py-2;
}
.packages-group.packages-group_top .package-box .package-box__head span {
  @apply max-md:first:after:hidden max-md:first:pr-0 max-md:pt-0;
}
.package-box .package-box__head span {
  @apply pt-1 first:relative first:after:content-[''] first:after:absolute first:after:right-0 first:after:top-1/2 first:after:-translate-y-1/2 first:pr-[6px] first:after:w-[2px] first:after:bg-white first:after:h-[12px];
}
.package-box .package-box__content {
  @apply py-2;
}
.program-content .program-subtitle span {
  @apply inline-block text-[#B4BACE] font-normal px-3 text-base leading-[25px];
  vertical-align: top;
}
/* slider */

/*  */
.courses-structure-grid .structure-box .structure-box__head {
  @apply min-h-0 mb-3;
}
.courses-structure-grid .structure-box .structure-box__head h5 {
  @apply mb-0;
}
